* {
    margin: 0;
    padding: 0;
    list-style: none;
    }

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.header-info>.heading-one {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}

.header-info>.text {
    width: 425px;
}

.items-block {
    display: flex;
    justify-content: space-between;
}

.what-we-do-item {
    width: 359px;
}

.project {
    text-align: center;
}

.contact-us>.container {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

.footer-top-content {
    width: 495px;
}

.footer-top-content>.heading-three {
    width: 340px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.heading-two {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading-three {
    font-size: 36px;
    text-align: center;
}

.heading-four {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}